.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://www.rainbowresorts.in/images/activity_1.jpg");

  height: 40%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.fond {
  position: relative;
  background-color: white;
}

.carreaux_presentation_light {
  display: table-cell;
  width: 360px;
  height: 360px;
  background-size: cover;
  overflow: hidden;
  position: relative;
}

.carreaux_presentation_light .shadow_swhow_mini {
  background-color: rgba(41, 58, 63, 0.4);
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.carreaux_presentation_light:hover .shadow_swhow_mini {
  background-color: rgba(22, 27, 39, 0);
}

.carreaux_presentation_light .deroul_titre {
  position: absolute;
  text-transform: uppercase;
  font-family: "Roboto";
  padding: 7px;
  z-index: 1000;
  top: 60%;
  left: -80%;
  color: #ffffff;
  font-weight: 300;
  font-size: 24px;
  width: 80%;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -ms-transition: all 0.7s;
  transition: all 0.7s;
}

.carreaux_presentation_light:hover .deroul_titre {
  background-color: #1e4944;
  left: 0px;
}

.carreaux_presentation_light .deroul_soustitre {
  position: absolute;
  font-family: "Roboto";
  padding: 5px;
  z-index: 1000;
  top: 60%;
  right: -85%;
  margin-top: 25px;
  color: #ffffff;
  font-weight: 300;
  font-size: 11px;
  width: 80%;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -ms-transition: all 0.7s;
  transition: all 0.7s;
}

.carreaux_presentation_light:hover .deroul_soustitre {
  background-color: #417c74;
  right: 0px;
}

.close.mat-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  line-height: 14px;
  min-width: auto;
}
