<div class="container mt-4">
  <div class="row mx-auto">
    <div class="col-md-4 col-xl-5 my-auto">
      <img src="/assets/signup.png" class="img img-fluid rounded" />
    </div>
    <div class="col-md-8 col-xl-7">
      <div
        class="shadow p-5 mb-5 bg-white rounded text-center"
        *ngIf="!isSuccessful"
      >
        <h2 class="mb-4" style="font-weight: 500">Welcome to Amusement Park</h2>
        <form
          name="form"
          (ngSubmit)="f.form.valid && onSubmit()"
          #f="ngForm"
          novalidate
        >
          <div class="form-group">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Enter username</mat-label>
              <input
                matInput
                placeholder="capg"
                type="text"
                name="username"
                [(ngModel)]="form.username"
                required
                minlength="3"
                maxlength="20"
                #username="ngModel"
              />
              <mat-icon matPrefix>person_outline</mat-icon>
              <mat-hint
                ><div
                  class="alert-danger"
                  *ngIf="username.errors && f.submitted"
                >
                  <div *ngIf="username.errors.required">
                    Username is required
                  </div>
                  <div *ngIf="username.errors.minlength">
                    Username must be at least 3 characters
                  </div>
                  <div *ngIf="username.errors.maxlength">
                    Username must be at most 20 characters
                  </div>
                </div></mat-hint
              >
            </mat-form-field>
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Enter email</mat-label>
              <input
                matInput
                placeholder="example@capgemini.com"
                type="email"
                name="email"
                [(ngModel)]="form.email"
                required
                email
                #email="ngModel"
              />
              <mat-icon matPrefix>mail_outline</mat-icon>
              <mat-hint>
                <div class="alert-danger" *ngIf="email.errors && f.submitted">
                  <div *ngIf="email.errors.required">Email is required</div>
                  <div *ngIf="email.errors.email">
                    Email must be a valid email address
                  </div>
                </div>
              </mat-hint>
            </mat-form-field>
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Enter password</mat-label>
              <input
                matInput
                placeholder="Capgemini@123"
                [type]="hidePass ? 'password' : 'text'"
                name="password"
                [(ngModel)]="form.password"
                required
                minlength="8"
                #password="ngModel"
                pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[*.!@$]).{8,32}$"
              />
              <button
                mat-icon-button
                matSuffix
                type="button"
                (click)="togglePassHidden()"
              >
                <mat-icon>{{
                  hidePass ? "visibility_off" : "visibility"
                }}</mat-icon>
              </button>
              <mat-icon matPrefix>lock_outline</mat-icon>
              <mat-hint
                ><div
                  class="alert-danger"
                  *ngIf="password.errors && f.submitted"
                >
                  <div *ngIf="password.errors.required">
                    Password is required
                  </div>
                  <div *ngIf="password.errors.pattern">
                    Password should have at least 1 uppercase letter, 1
                    lowercase letter and 1 number
                  </div>
                </div></mat-hint
              >
            </mat-form-field>
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Enter phone number</mat-label>
              <input
                matInput
                pattern="^((\\+91-?)|0)?[0-9]{10}$"
                placeholder="999 999 9999"
                type="tel"
                name="mobileNumber"
                minlength="10"
                [(ngModel)]="form.mobileNumber"
                required
                #mobileNumber="ngModel"
              />
              <mat-icon matPrefix>smartphone</mat-icon>
              <mat-hint
                ><div
                  class="alert-danger"
                  *ngIf="mobileNumber.errors && f.submitted"
                >
                  <div *ngIf="mobileNumber.errors.required">
                    Mobile Number is required
                  </div>
                  <div *ngIf="mobileNumber.errors.minlength">
                    Mobile Number must be at least 10 characters
                  </div>
                  <div *ngIf="mobileNumber.errors.pattern">
                    Mobile Number is not valid
                  </div>
                </div></mat-hint
              >
            </mat-form-field>
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Enter address</mat-label>
              <input
                matInput
                placeholder="Hyderabad, Telangana"
                type="text"
                name="address"
                [(ngModel)]="form.address"
                required
                minlength="10"
                #address="ngModel"
              />
              <mat-icon matPrefix>location_on</mat-icon>
              <mat-hint
                ><div
                  class="alert-danger"
                  *ngIf="address.errors && f.submitted"
                >
                  <div *ngIf="address.errors.required">Address is required</div>
                  <div *ngIf="address.errors.minlength">
                    Address must be at least 10 characters
                  </div>
                </div></mat-hint
              >
            </mat-form-field>
            <button mat-flat-button color="accent">Register</button>
          </div>

          <div
            class="alert alert-warning"
            *ngIf="f.submitted && isSignUpFailed"
          >
            Signup failed!<br />{{ errorMessage }}
          </div>
        </form>
        Already have an account? <a [routerLink]="['/login']">Login now</a>
      </div>

      <div class="alert alert-success" *ngIf="isSuccessful">
        Your registration is successful!
        <a [routerLink]="['/login']">Login now</a>
      </div>
    </div>
  </div>
</div>
