<div class="hero-image">
  <div class="hero-text">
    <p class="display-1" style="font-weight: 500">Contact Us</p>
  </div>
</div>

<div class="container mt-4">
  <div class="row">
    <div class="col-md-6">
      <h3>Location</h3>
      <div class="details">
        Outer Ring Road, Exit No. 13, Ravirala, Hyderabad - 501510
        <p>
          <a mat-flat-button href="tel:+919876543210">
            <mat-icon inline="true">phone</mat-icon>
            +91 987 654 3210
          </a>
        </p>
      </div>
      <h3>Head Office</h3>
      <div class="details">
        Road No. 13, Banjara Hills, Hyderabad - 500032
        <p>
          <a mat-flat-button href="tel:+919749843350">
            <mat-icon inline="true">phone</mat-icon>
            +91 974 984 3350
          </a>
        </p>
      </div>
      <div class="details">
        <h3>Feedback:</h3>
        <p>
          <button mat-flat-button>
            <mat-icon inline="true">email</mat-icon>
            <a href="mailto:customercare@amusementpark.com">
              customercare@amusementpark.com</a
            >
          </button>
        </p>
      </div>
    </div>
    <div class="col-md-6">
      <div>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d60911.35500082072!2d78.41482407766863!3d17.41372215297857!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb93c24585132b%3A0xeba10e123db7444a!2sCapgemini%20Technology%20Solutions%20India%20Ltd.!5e0!3m2!1sen!2sin!4v1620288503698!5m2!1sen!2sin"
          width="100%"
          height="290"
          frameborder="0"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
        ></iframe>
      </div>
    </div>
  </div>
</div>
